name: Automatic release package
on: 
  workflow_dispatch:
  push:
    branches:
      - master
        
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  call-workflow:
    name: 'Call Workflow'
    uses: "michijs/.github/.github/workflows/release-package.yml@main"
    with:
      release-type: "prerelease"
      release-notes: "Automatic release"
      visibility: "restricted"
    secrets: inherit